:root {
    --font-family: 'Raleway', sans-serif;
    --background-color: #fafafa;
    --primary-color: #372df3;
}
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

img{
    box-sizing: unset;
  
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    margin-top: 0px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #0065FC;
}
#bloc_page{
    padding: 0px 20px 0px 20px;
}
#header{
    display: flex;
    justify-content: space-between;
}
#logo img{
    width: 104px;
    height: 45px;
    margin-left: 3.5px;
    padding: 0px 53.5px 0px 53.5px;
    margin-top: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav a 
{
    padding-left: 20px;
    padding-right: 0px;
    width: 150px;
    line-height: 90px;
    border-top: 2px solid transparent;
    text-decoration: none;
    color: black;
}
nav > a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}
#research
{
    margin-bottom: 1%;
    padding: 0px 53.5px 0px 53.5px;
}
.titre h2{
font-size: 1.35em;
}
.titre span {
    line-height: 35px;
}

/*Section recherche*/
#location_icon {
    height: 26px;
    padding: 10px;
    background-color: #e1e1e1;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    float: left;
    height: 20px;
    padding: 16px 15px 16px 15px;
}

#location {
    display: flex;
    padding-top: 20px;
    display: flex;
    float: none;
    padding-left: 40px;
}

#location form {
    display: flex;
}

#location_input {
    font-weight: bold;
    font-family: var(--font-family);
    width: 216px;
    border-top: 2px solid #F2F2F2;
    border-left: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    padding-left: 17px;
    font-size: 1.1em;
}


#search_location_button {
    padding: 15px;
    background-color: #0065fc;
    color: var(--background-color);
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    font-weight: bold;
}

input::placeholder
{
    color: black;
    font-size: 15px;
}

/*Filtres */
#filter_container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    align-items: center;
    font-weight: 800;
    font-size: 1em;
}
h3{
    margin: 43px 20px 20px 37px;
    letter-spacing: 0.2px;
}

.icon1{
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    border-radius: 50px;;
    margin-right: 25px;
    margin-left: 20px;
    padding: 12px;
    padding-left: 0px;
}
#money{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50px;
    font-size: 18px;
    margin-right: 10px;
    padding: 15px;
}
.icon2{  
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    border-radius: 50px;
    margin-right: 25px;
    padding: 12px;
    padding-left: 0px;
}
#family{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50px;
    font-size: 19px;
    margin-right: 10px;
    padding: 15px;
}
.icon3{ 
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    border-radius: 50px;
    margin-right: 25px;
    padding: 12px;
    padding-left: 0px;
}
#heart{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50px;
    font-size: 18px;
    margin-right: 10px;
    padding: 15px;
}
.icon4{  
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    border-radius: 50px;
    margin-right: 25px;
    padding: 12px;
    padding-left: 0%;
}
#dog{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50px;
    font-size: 18px;
    margin-right: 10px;
    padding: 15px;
}
.filter-button :hover{
    background-color:#F2F2F2;
}


/*Point Info*/
#info {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

#info img {
    height: 16px;
    padding: 10px;
}

.container {
    display: flex;
    gap: 30px;
}

/* Hébergements */
#hebergements_container {
    background-color: #F2F2F2;
    padding: 10px 15px 10px;
    border-radius: 20px;
    width: 60%;
    max-width: 1000px;
    margin-top: 36px;
}

h1{
    margin: 43px 20px 20px 0px;
    letter-spacing: 0.2px;
}

#hebergements_container_elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 29px 0px 15px 0px;
    letter-spacing: 0.2px;
}

#hebergements_container_element
{
    margin-right: 15px;
    margin-bottom: 20px;
}

.hebergements_container_item {
   
    height: 210px;
    width: 29%;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: all 450ms ease-out 0s;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;  
    box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.2);
}

.hebergements_container_item:hover {
    transform: translate(0, -10px);
}

.hebergements_container_item img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    margin: auto;
}

.hebergements_container_item_info {
    position: relative;
    background-color: var(--background-color);
    width: 100%;
    height: 35%;
    top: 65%;
    padding: 3px 12px;
    overflow: hidden;
    transition: all 450ms ease-in-out 0s;
    
}

.hebergements_container_item_info h2 {
    margin: 0;
    font-size: 1em;
    word-wrap: break-word;
}

.hebergements_container_item_info span {
    color: #555;
    width: 100%;
    margin: 8px 0;
    line-height: 1.25;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.9em;
    word-wrap: break-word;
}


/* Populaires */


#populaires_container {
    width: 30%;
    background-color: #F2F2F2;
    padding: 10px 35px 10px;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 36px;
}

#populaires_container_elements {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
    height: 100%;
    
}

#populaires_container_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#populaires_container_header h1{
    margin: 43px 20px 20px 0px
}

.populaires_container_item {
    
    height: 155px;
    position: relative;
    transition: all 450ms ease-out 0s;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer; 
    box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.2);
}

.populaires_container_item:hover {
    transform: translate(0, -10px);
}

.populaires_container_item img {
    position: absolute;
    min-width: 50%;
    min-height: 100%;
    width: 50%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.populaires_container_item_info {
    position: relative;
    background-color: var(--background-color);
    width: 80%;
    height: 100%;
    left: 40%;
    padding: 2.5px 10px;
    overflow: hidden;
    transition: all 450ms ease-in-out 0s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.populaires_container_item_info h2 {
    margin: 0;
    overflow-wrap: break-word;
    font-size: 1em;
}

.populaires_container_item_info span {
    color: #555;
    width: 100%;
    margin: 8px 0;
    line-height: 1.25;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1em;
    word-wrap: break-word;
}


.fa-star {
    color: #0065FC;
}

.fa-star-o {
    color: #999999;
}

/* Actvité*/
#activites_container {
    padding: 0px;
}

#activites_container h1 {
    padding: 24px 20px 20px 0px;
    margin: 43px 20px 20px 0px;
}

#activites_container_elements {
    display: grid;
    grid-template-columns: 21% 21% 21% 21%;
    grid-template-rows: 250px 250px;
    gap: 5%;
    
}

.activites_container_item {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: all 450ms ease-out 0s;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}

.activites_container_item:hover {
    transform: translate(0, -10px);
}

.activites_container_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activites_container_item_info {
    position: relative;
    background-color: var(--background-color);
    width: 100%;
    height: 65px;
    top: -65px;
    box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.2);
    padding: 8px 12px;
    overflow: hidden;
    transition: all 450ms ease-in-out 0s;
}

.activites_container_item_info p {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}


.activites_container_item1{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: all 450ms ease-out 0s;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}

.activites_container_item1:hover {
    transform: translate(0, -10px);
}

.activites_container_item1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activites_container_item_info1 {
    position: relative;
    background-color: var(--background-color);
    width: 100%;
    height: 65px;
    top: -65px;
    box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.2);
    padding: 8px 12px;
    overflow: hidden;
    transition: all 450ms ease-in-out 0s;
}

.activites_container_item_info1 p {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

    /*Footer*/
ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 7px;
}

footer {
    background-color: #F2F2F2;
    display: flex;
    column-gap: 10%;
    width: 100%;
    margin-top: 52px;
    padding: 24px 20px 20px 60px;    
}

.footer_category {
    width: 20%
}

footer h1 {
    font-size: 16px;
    margin: 0px 0px 20px 0px;
}

footer a {
    font-size: 14px;
}


/** Responsive **/
@media screen and (min-width: 0px) and (max-width: 768px){
    #zoneloupe {
        padding: 15px 15px 12px 15px;
        border-radius: 15px;
    }
    #location a{
        display: none;
    }
    #zoneloupe{
        color: white;
        border-radius: 15px;
        padding: 13px;
        cursor: pointer;
        background-color: #0065FC;
        }
    #loupe{
        height: 20px;
    }    
    
}
@media screen and (min-width: 768px) and (max-width: 1407px)
{
    #zoneloupe{
        display: none;
    }
}

@media screen and (min-width: 1407px) {
    #loupe{
        display: none;}
}

@media (max-width: 768px)
{
    body
    {
            margin: 60px      
    }
    nav 
    {
            padding: 0px;
            margin-left: auto;
    }
    .titre
    {
            font-size: 15px;
    }
    #filter_container 
    {
            gap: 20px;      
    }
    .filter_item 
    {
            gap: 20px;
            padding-right: 20px;
            border-radius: 20px;
    }
        
    .filter_item img 
    {
            width: 30px;
            padding: 5px;
            box-sizing: border-box;
    }

    .hebergements_container_item 
    {
           /* height: 300px;
            width: 600px;*/
            flex-wrap: wrap;
    }
    .hebergements_container_item_info 
    {
            height: 25%;
            top: 75%;
    }
    #populaires_container_elements 
    {
            row-gap: 30px;
            width: 600px;
            height: 550px;
    }
    #activites_container 
    {
            padding: 0px;
            display: flex;
            flex-direction: column;
    }
    /*#activites_container_elements 
    {       
            grid-template-columns: repeat(4,25%);
            display: grid;
            grid-template-columns: 27% 23% 30% 27%;
            grid-template-rows: 250px 200px;
            gap: 5px;
            font-size: small;
    }*/
    .activites_container_item_info
    {       
            width: 100%;
            height: 50px;
            top: -50px;
            padding: 1px 5px;
    }
    .container
    {       
            flex-direction: column;
    }

    #populaires_container
    {
            width: 100%;
    }
    footer
    {
            padding: 0px;
            column-gap: 10%;
            font-size: 16px;
    }
    .footer_category
    {
            width: 100%;
    }
    
}

@media (max-width: 768px) /*Mode téléphone*/
{

    body
    {
        margin: 0px;
    }
    #bloc_page {
        padding: 0;
    }
    #header{
        display: block;
        margin: auto;
    }
    #logo img {
        display: block;
        margin: auto;
        padding-top: 20px;
    }
    nav {
            font-weight: 500;
            font-size: 105%;
            margin: 0;
            width: 100%;
            padding: 0px;
            text-align: center;
        }
    nav > a {
            border-bottom: 3px solid #c3c3c34f;
            line-height: 60px;
            width: 50%;
            border-top: 0px solid transparent;
        }
    nav > a:hover{
            color: #0065FC;
            border-bottom: 3px solid #0065FC;
            border-top: 0px solid transparent;
        }
    #research
    {
        margin-top: 2%;
        margin-bottom: 5%;
        padding: 0 0 0 25px;
    }
    .titre {
        padding: 0px;
        white-space: normal;
    }
    .titre h2
    {
        padding-top: 20px;    
        font-size: 1.4em;
    }
    .titre span{
        font-size: 1.1em;
    }
    #filter_container 
    {
            gap: 5px 0px;
            flex-wrap: wrap;   
    }
    #filter_container h3
    {
        font-size: 20px;
        width: 100%;
    }
    .filter-button {
        margin-left: 5%;
        margin-bottom: 4%;
    }
    .icon1{
        margin-left: 0px;
    }

    #location
    {
        display: flex;
        float: none;
        justify-content: center;
        padding: 0;
    }

    #hebergements_container{
        background-color: white;
        padding: 0px;
        width: 100%;
    }
    #hebergements_container h1
    {
        margin: 15px;
    }
    .hebergements_container_item 
    {
            height: 300px;
            width: 90%;
    }
    .hebergements_container_item_info 
    {
            height: 25%;
            top: 75%;
    }

    #populaires_container
    {
        padding: 20px;
        width: 100%;
        border-radius: 0;
    }
    #populaires_container_elements 
    {
            row-gap: 30px;
            width: 100%;
            height: 480px;
    }
    .populaires_container_item_info h2 {
        font-size: 0.8em;
        word-wrap: break-word;
    }
    .populaires_container_item_info span {
        font-size: 0.8em;
    }


   #activites_container h1
   {
    margin: 15px;
   }
    #activites_container_elements 
    {       
            display:flex;
            flex-direction: column;
            height: 1500px;
            font-size: medium;
            margin: 15px;
    }
    .activites_container_item_info
    {       
            width: 100%;
            height: 50px;
            top: -50px;
            padding: 5px 5px;
    }
    .container
    {       
            flex-direction: column-reverse;
    }

    footer
    {

            width: 100%;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            padding: 20px 0px 20px 0px;
        }
    .footer_category
    {
            width: 100%;
    }

    
    
}

@media (min-width: 768px) and (max-width: 992px) /*Mode Tablet */
{

    #logo img {
        display: block;
        margin: auto;
        padding-top: 20px;
    }
    #location
    {
        padding-top: 20px;
        display: flex;
        float: none;
        justify-content: center;
    }
    #filter_container{
        padding: 0;
    }
    .container{
        flex-direction: column;
        gap: 0px;
    }

    #hebergements_container{
        width: 100%;
    }
    .hebergements_container_item_info h2 {
        font-size: 0.9em;
    }

    #populaires_container{
        width: 100%;
    }

    #populaires_container_header h1{
        margin: 30px 20px 35px 0px;
    }
    #populaires_container_elements{
        width: 80%;
        padding-bottom: 20px;
        padding-left: 20%;
    }

    #activites_container_elements {
        grid-template-columns: 21% 21% 21% 21%;
        grid-template-rows: 200px 200px;
        gap: 5%;
    }
    .activites_container_item_info p {
        font-size: 1em;
    }
    

}

@media (min-width: 993px) and (max-width: 1230px) /*Mode Small screen */
{

    .container{
        gap: 10px;
        font-size: 0.85em;
    }

    #hebergements_container{
        width: 70%;
        padding: 10px 15px;
    }

    #populaires_container{
        padding: 10px 15px;
    }
    #activites_container_elements {
        grid-template-columns: 21% 21% 21% 21%;
        grid-template-rows: 180px 180px;
        gap: 5%;
    }
    .activites_container_item_info p {
        margin: 0;
        font-size: 1em;
        font-weight: bold;
    }
}