:root {
    --font-family: 'Raleway', sans-serif;
    --background-color: #fafafa;
    --primary-color: #372df3;
}

body {
    margin: 40px;
    font-family: var(--font-family);
    background-color: var(--background-color);
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #0065FC;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}


/*Section recherche*/
#location_icon {
    height: 26px;
    padding: 10px;
    background-color: #e1e1e1;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    float: left;
}

#location {
    display: flex;
}

#location form {
    display: flex;
}

#location_input {
    font-weight: bold;
    font-family: var(--font-family);
}


#search_location_button {
    padding: 13px;
    background-color: #0065fc;
    color: var(--background-color);
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    font-weight: bold;
}


/*Filtres */
#filter_container {
    display: flex;
    color: black;
    font-weight: bold;
    align-items: center;
    gap: 35px
}

.filter_item {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-right: 15px;
    border: solid 3px lightgray;
    border-radius: 25px;
}

.filter_item img {
    width: 30px;
    padding: 5px;
    background-color: rgba(126, 204, 255, 0.6);
    border-radius: 50%;
    box-sizing: border-box;
}


/*Point Info*/
#info {
    display: flex;
    align-items: center;
}

#info img {
    height: 16px;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Hébergements */
#hebergements_container {
    background-color: #e1e1e1;
    padding: 10px 60px 10px;
    border-radius: 20px;
    
     
}

/*#hebergements_container_elements:nth-child(4) 
{order: 1;
}*/


#hebergements_container_elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
 
}

#hebergements_container_element>*
{
    margin-right: 15px;
    margin-bottom: 20px;
}

/*#hebergements_container_elements .hebergements_container_item:nth-child(2)
{
   margin-right: 15px; 
}*/

.hebergements_container_item {
   
    height: 210px;
    width: 330px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: all 450ms ease-out 0s;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;  
    
}

.hebergements_container_item:hover {
    transform: translate(0, -10px);
}

.hebergements_container_item img {
    position: absolute;
    min-width: 100%;
    min-height: 90%;
    width: 100%;
    height: 90%;
    margin: auto;
}

.hebergements_container_item_info {
    position: relative;
    background-color: var(--background-color);
    width: 100%;
    height: 35%;
    top: 65%;
    box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.2);
    padding: 3px 12px;
    overflow: hidden;
    transition: all 450ms ease-in-out 0s;
    
}

.hebergements_container_item_info h2 {
    margin: 0;
    font-size: 1.2em;
}

.hebergements_container_item_info p {
    color: #555;
    width: 380px;
    margin: 8px 0;
    line-height: 1.25;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* Populaires */


#populaires_container {
    width: 23%;
    background-color: #e1e1e1;
    padding: 10px 50px 35px;
    border-radius: 20px;
    box-sizing: border-box;
}

#populaires_container_elements {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 300px;
    height: 450px;
}

#populaires_container_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.populaires_container_item {
    
    height: 155px;
    position: relative;
    transition: all 450ms ease-out 0s;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer; 
}

.populaires_container_item:hover {
    transform: translate(0, -10px);
}

.populaires_container_item img {
    position: absolute;
    min-width: 50%;
    min-height: 100%;
    width: 50%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.populaires_container_item_info {
    position: relative;
    background-color: var(--background-color);
    width: 60%;
    height: 100%;
    left: 40%;
    box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.2);
    padding: 2.5px 10px;
    overflow: hidden;
    transition: all 450ms ease-in-out 0s;
    

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.populaires_container_item_info h2 {
    margin: 0;
    font-size: 1.2em;
}

.populaires_container_item_info p {
    color: #555;
    width: 380px;
    margin: 8px 0;
    line-height: 1.25;
    text-overflow: ellipsis;
    overflow: hidden;
}


.fa-star {
    color: #0065FC;
}

.fa-star-o {
    color: #999999;
}

/* Actvité*/
#activites_container {
    padding: 10px 40px;
}

#activites_container_elements {
    display: grid;
    grid-template-columns: 24% 22% 25% 22%;
    grid-template-rows: 250px 250px;
    gap: 30px
    
}

.activites_container_item {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: all 450ms ease-out 0s;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}

.activites_container_item:hover {
    transform: translate(0, -10px);
}

.activites_container_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activites_container_item_info {
    position: relative;
    background-color: var(--background-color);
    width: 100%;
    height: 65px;
    top: -65px;
    box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.2);
    padding: 8px 12px;
    overflow: hidden;
    transition: all 450ms ease-in-out 0s;
}

.activites_container_item_info p {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

/*.activities_container_item :first-child
{
   height: 10px; 
}*/
/*.activites_container_item:nth-child(1) { 
    width: 330px;
    height: 410px;}
.activites_container_item:nth-child(2)
{ 
    width: 330px;
    height: 210px;}
.activites_container_item:nth-child(3)
{ 
    width: 330px;
    height: 150px;}
.activites_container_item:nth-child(4)
{ 
    width: 330px;
    height: 410px;}
.activites_container_item:nth-child(5)
{ 
    width: 330px;
    height: 210px;}
.activites_container_item:nth-child(6)
{ 
    width: 330px;
    height: 210px;} */
    /*Footer*/
ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 7px;
}

footer {
    background-color: #F2F2F2;
    /*height: 20vh;*/

    display: flex;
    padding: 20px 40px;
    column-gap: 10%;
    
}

.footer_category {
    width: 20%
}

footer div h1 {
    font-size: 20px;
}


/** Responsive **/
@media (max-width: 992px)/*Mode Tablette*/
{
    body
    {
            margin: 60px      
    }
    nav 
    {
            padding: 0px 5px;
    }
    .titre
    {
            font-size: 15px;
    }
    #filter_container 
    {
            gap: 20px;      
    }
    .filter_item 
    {
            gap: 20px;
            padding-right: 20px;
            border-radius: 20px;
            font-size: 17px;
    }
        
    .filter_item img 
    {
            width: 30px;
            padding: 5px;
            box-sizing: border-box;
    }

    .hebergements_container_item 
    {
            height: 300px;
            width: 600px;
    }
    .hebergements_container_item_info 
    {
            height: 25%;
            top: 75%;
    }
    #populaires_container_elements 
    {
            row-gap: 30px;
            width: 600px;
            height: 550px;
    }
    #activites_container 
    {
            padding: 30px 20px;
    }
    #activites_container_elements 
    {       
            grid-template-columns: repeat(4,25%);
            display: grid;
            grid-template-columns: 27% 23% 30% 27%;
            grid-template-rows: 250px 200px;
            gap: 5px;
            font-size: small;
    }
    .activites_container_item_info
    {       
            width: 100%;
            height: 40px;
            top: -40px;
            padding: 5px 5px;
    }
    .container
    {       
            flex-direction: column;
    }

    #populaires_container
    {
            width: 100%;
    }
    footer
    {
            padding: 20px 40px;
            column-gap: 10%;
            font-size: 14px;
    }
    .footer_category
    {
            width: 100%;
    }
    
    }

@media (max-width: 768px) /*Mode téléphone*/

{

    nav 
    {
            padding: 0px 5px;
    }
    .titre
    {
            font-size: 15px;
    }
    #filter_container 
    {
            gap: 10px;      
    }
    .filter_item 
    {
            gap: 10px;
            padding-right: 10px;
            border-radius: 20px;
            font-size: 13px;
    }
        
    .filter_item img 
    {
            width: 30px;
            padding: 5px;
            box-sizing: border-box;
    }

    .hebergements_container_item 
    {
            height: 280px;
            width: 480px;
    }
    .hebergements_container_item_info 
    {
            height: 25%;
            top: 75%;
    }
    #populaires_container_elements 
    {
            row-gap: 30px;
            width: 480px;
            height: 480px;
    }
    #activites_container 
    {
            padding: 20px 30px;
    }
    #activites_container_elements 
    {       
            grid-template-columns: repeat(4,25%);
            display: grid;
            grid-template-columns: 27% 23% 30% 27%;
            grid-template-rows: 150px 150px;
            gap: 5px;
            font-size: x-small;
    }
    .activites_container_item_info
    {       
            width: 100%;
            height: 40px;
            top: -40px;
            padding: 5px 5px;
    }
    .container
    {       
            flex-direction: column;
    }

    #populaires_container
    {
            width: 100%;
    }
    footer
    {
            padding: 20px 40px;
            column-gap: 10%;
            font-size: 14px;
    }
    .footer_category
    {
            width: 100%;
    }
    
    }




   
  